*.pyc
C:\Users\user\Documents\zadachy python\__pycache__\hello.cpython-310.pyc
C:\Users\user\Documents\zadachy python\calculator\__pycache__\model.cpython-310.pyc
C:\Users\user\Documents\zadachy python\calculator\__pycache__\view.cpython-310.pyc
C:\Users\user\Documents\zadachy python\calculator\__pycache__\controller.cpython-310.pyc